annotated-doc==0.0.4
asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
dj-database-url==3.1.2
Django==5.2.13
django-debug-toolbar==6.3.0
django-tailwind-cli==2.21.1
django-typer==3.7.1
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.13
markdown-it-py==4.0.0
mdurl==0.1.2
openpyxl==3.1.5
reportlab==4.2.5
packaging==26.2
psycopg2-binary==2.9.12
Pygments==2.20.0
requests==2.33.1
rich==15.0.0
semver==3.0.4
shellingham==1.5.4
sqlparse==0.5.5
typer==0.24.2
urllib3==2.6.3
whitenoise==6.12.0
